<ion-view view-title="Playlists">
  <ion-content>
    <div>

      <!--<div class="row">-->
        <!--<a href="" class="button button-icon imgmijntaken">-->
          <!--<i class="topper ">Mijn taken</i>-->

        <!--</a>-->
              <!--</div>-->
      <div id="container">
        <a href="" class="button button-icon imgmijntaken">
        <!--<img id="image" src="../img/mail.png" />-->
        <p id="text">
          Hello_World!
        </p>
        </a>
      </div>
    <ion-button ng-show="true" ng-init="" style= "" class="button  button-large imgmijntaken" ng-click="call()" >
      Mijn taken
    </ion-button>
    <ion-button ng-show="true" ng-init="" style= "" class="button  button-large imgteamtaken" ng-click="call()" >
      Team taken
    </ion-button>
    </div>
    <div>
    <ion-button ng-show="true" ng-init="" style= "" class="button  button-large imgzoeken" ng-click="call()" >
      Zoeken
    </ion-button>
    <ion-button ng-show="true" ng-init="" style= "" class="button  button-large imgphone" ng-click="call()" >
      Bellen
    </ion-button>
    </div>
  </ion-content>
</ion-view>
